.parsley-errors-list{
	list-style: none;
    color: red;
    font-style: italic;
    display: inline-block;
    padding-left: 15px;
}

.capitalize{
	text-transform: capitalize !important;
}
.uppercase{
  text-transform: uppercase !important;
}
.swal2-popup {
  font-size: 1.6rem !important;
}

.send-loading {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  background: url('/images/loader-64x/loader.gif') center no-repeat rgba(255,255,255,0.5);
  overflow: hidden;
  display: none;
}